body,
html {
    background-color: whitesmoke !important;
    // background: rgb(237, 237, 237) !important;
    // background: linear-gradient(
    //     118deg,
    //     rgba(237, 237, 237, 1) 61%,
    //     rgba(255, 255, 255, 1) 100%
    // ) !important;

    height: 100vh !important;
    width: 100vw !important;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
}

.app-container {
    height: calc(100vh - 320px);
    z-index: 1;
    // overflow-y: auto;
    overflow-x: hidden;
    max-width: 100vw !important;
    padding-top: 20px;
}

.app-container-mobile {
    height: 100%;
    z-index: 1;
    // position: relative;
    overflow-y: hidden;
    // max-width: 100vw !important;
    overflow-x: hidden;
    // padding-top: 20px;
}

.link {
    text-decoration: none;
    color: inherit;
}
