body {
    background-color: whitesmoke;
    min-height: 100vh;
    margin: 0;
}

.app-container {
    height: calc(100vh - 195px);
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.app-container-mobile {
    height: 100%;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.link {
    text-decoration: none;
    color: inherit;
}
