@import "./partials/Fonts";

body,
html {
    background-color: whitesmoke !important;
    height: 100vh !important;
    width: 100vw !important;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    @media (min-width: 960px) {
        overflow-y: hidden;
    }
}

.app-container {
    height: calc(100vh - 320px);
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 20px;
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: rgb(253, 186, 170) transparent;
}

.app-container::-webkit-scrollbar {
    width: 7px;
}

.app-container::-webkit-scrollbar-track {
    box-shadow: "none";
}

.app-container::-webkit-scrollbar-thumb {
    background-color: rgb(253, 186, 170);
    border-radius: 7px;
}

.app-container-mobile {
    height: 100%;
    z-index: 1;
    overflow-y: hidden;
    width: 100%;
    overflow-x: hidden;
}

.link {
    text-decoration: none;
    color: inherit;
}
